<div class="row">
  <div class="col-md-6">
    <h3>Thursday, January 22, 2026</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>01:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">UNIX Shell Lessons 1-4</a></td> </tr>
      <tr> <td>02:30</td>  <td>Break</td> </tr>
      <tr> <td>03:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">UNIX Shell Lessons 5-6</a></td> </tr>
      <tr> <td>04:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>05:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
